.brandMessageContainer{
    padding: 120px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 64px;
    margin: 0 auto;
}



.message p{
    color: var(--main-font-color);
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;


}
.logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
