.hero-section{
    width: 1440px;
    margin: 0px auto ;
  
}


.hero-img{
    width:1158px ;
    height:610px ;
      margin:0px auto ;

}
.hero-txt{
    width: 1126px;
    padding-top: 72px;
    margin:0px auto ;
}

.hero-txt h1{
  margin: 0;
  color: white;
  font-size: 140px;
  letter-spacing: -7.5px;
  font-weight: 600;
  line-height: 144px;

}