
*{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.card-container {
  width: 296px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid #282828;
}

.card-container img {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: block;
    filter: grayscale(100%) contrast(1.2) brightness(1.05);
  transition: filter 0.3s ease;
  
}
.card-container p{
    color: #9D9FA1;
}

.card-container h3,
.card-container p {
  margin: 0;
  text-align: flex-start;
  padding: 0 16px
  
}
