.team-container {
  margin: 0px auto;
  padding: 0 80px;
}
.title {
  display: flex;
}
.team-grid{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 32px 32px;
    width: 1280px;

}
.paragraph{
    font-size: 46px;
}
.team-container > .team-grid {
  width: 100%; 
}