.team-container {
  padding: 0 80px;
}

.title {
  display: flex;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.paragraph {
  margin: 0;
  font-size: 42px;
  line-height: 1.6;
  grid-area: 1/1 2/1;
  grid-column: span 2;
  letter-spacing: -2;
}

.card-container {
  width: 100%;
  box-sizing: border-box;
}
