@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --bg-color: #000;
  --main-font-color: #fff;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  
}
body{
  background-color: var(--bg-color);
}
a{
  color: var(--main-font-color);
  text-decoration: none;   
  }
