


.navbar{
    padding: 45px 0;

}


.container {
  border-radius: 24px;
  display: grid;
  width: 1280px;
  height: 112px;
  border: 2px solid #282828;
  grid-template-columns: auto 543px 543px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0 auto ;
}

.logo {
  width: 194px;
  height: 112px;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  padding: 37px 80px; /* FIXED */
  border-right: 1px solid #282828;
  margin: 0 auto;
}
.logo img {
  width: 36px;
  height: 36px;
  display: block;
}
.nav-Links {
  width: 845px;
  height: 56px;
  grid-area: 1 / 2 / 2 / 3; 
  display: flex;
  justify-content: center;
  padding: 16px 0; 
  border-bottom: 1px solid #282828;
  gap: 40px;
}

.services {
  height: 56px;
  grid-area: 2 / 2 / 3 / 3; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-right: 1px solid #282828;
}

.menu-btn {
  grid-area: 1 / 3 / 2 / 4; 
  justify-self: end;
  display: flex;
  align-items: center;
  padding: 16px 24px;
}
.menu-btn img {
  width: 72px;
  height: 15px;
  display: block;
  align-self: center;
}

.CTA {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #282828;
  padding: 0 24px;
  height: 56px;
  border-left: 1px solid #282828;
}
.cta-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 16px;
}

.CTA img {
  width: 18px;
  height: 18px;
  display: block;
}
.CTA a {
  font-size: 16px;
  font-weight: 500;
}
